// Import Roboto font from Google
@import url('https://fonts.googleapis.com/css?family=Roboto');

// colors
$turq: #1abc9c;

// Set brand colors
$primary: $turq;

// Override fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: $font-family-sans-serif;